body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(26, 19, 117, 0.233)),
    url('../img/DNAbackdrop.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color:rgba(240, 248, 255, 0.849);
    font-family: "Playfair Display";
    font-weight: 400;
}
.spacer{
  color: rgb(71,95,123);
  display: inline;
}
a{
  color:#fc7667
}
h1{
  font-weight: 400;
}
#nav{
  width: fit-content;
  background-color: aliceblue;
  border-radius: 2.5vh;
  border-color: rgb(71,95,123);;
}
.navItem{
  display: inline;
}
label{
  font-size:x-large;
}
input{
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2.5vh;
  background-color: aliceblue;
  border-color: rgb(71,95,123);
  border-style: solid;
}
#login-username {
  
  display: grid;
  grid-area: login-username;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "username-label"
  "username"
}
#username{
  margin: auto;
  grid-area: username;
}
#username-label{
  
  grid-area: username-label;
}
#login-password {
  margin-left: 1px;
  margin-right: 1px;
  object-fit: contain;
  display: grid;
  grid-area: login-password;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "password-label"
  "password"
}
#password{
  margin: auto;
  width: auto;
  grid-area: password;
}
#password-label{
  grid-area: password-label;
}
#login-submit {
  border-radius: 2.5vh;
  grid-area: login-submit;
  width: 50%;
  margin: auto;
}

#login-prompt {
  grid-area: login-prompt;
}

#login-alert-invalid {
  
  text-align: center;
  grid-area: login-alert-invalid;
}

#login-alert-success {
  text-align: center;
  grid-area: login-alert-success;
}

#login-register {
  grid-area: login-register;
}
#login-form{

margin: auto;
grid-area: login-form;
display: grid;
column-gap: 5x;
grid-row-gap: 20px;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-areas: 
"login-prompt login-prompt login-prompt login-prompt login-prompt"
"login-alert-invalid login-alert-invalid login-alert-invalid login-alert-invalid login-alert-invalid" 
"login-alert-success login-alert-success login-alert-success login-alert-success login-alert-success"
"login-username login-username login-username login-username login-username"
"login-password login-password login-password login-password login-password"
"login-submit login-submit login-submit login-submit login-submit "
"login-register login-register login-register login-register login-register "
}
#login{
  height: fit-content;
  width: fit-content;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  color:rgb(71,95,123);
  border-radius: 2.5vh;
  background-color: aliceblue;
  border-color: rgb(71,95,123);
  border-style: solid;
  text-align: center;
  grid-area: login;
  display: grid;
  column-gap: 50px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  align-items: center;
  grid-template-areas:
  "login-form"
}
#password_change{
  height: fit-content;
  width: fit-content;
  background-color: aliceblue;
  color: rgb(71,95,123);
  grid-template-columns: 1fr;
  grid-template-areas: 
  "password_change_header"
  "password_change_form"
}
#password_change_header{
  grid-area: password_change_header;
}
#password_change_form{
  grid-area: password_change-form;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "oldPassword_Div"
  "newPassword_Div"
  "confirmPassword_Div"
  "password_change_submit"
}
#newPasswrord{
  grid-area: newPassword;
}
#newPassword_Label{
  grid-area: newPassword_Label;
}
#newPassword_Div{
  display: grid;
  grid-area: newPassword_Div;
}
#oldPasswrord{
  grid-area: oldPassword;
}
#oldPassword_Label{
  grid-area: oldPassword_Label;
}
#oldPassword_Div{
grid-area: oldPassword_Div;
}
#confirmPasswrord{
  grid-area: confirmPassword;
}
#confirmPassword_Label{
  grid-area: confirmPassword_Label;
}
#confirmPassword_Div{
  grid-area: confirmPassword_Div;
}
#user-links{
  border-radius: 2.5vh;
  margin: auto;
  width: fit-content;
  background-color: aliceblue;
}
